@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont.ttf');
  font-style: normal;
}
