@tailwind components;
@tailwind base;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

.mobile-full-height {
  @apply: h-full max-w-full;
}

@supports (height: 100cqh) {
  .mobile-full-height {
    height: 100cqh;
  }
}

@supports (height: 100svh) {
  .mobile-full-height {
    height: 100svh;
  }
}

@supports not ((height: 100svh) and (height: 100cqh)) {
  .mobile-full-height {
    @apply min-h-screen;
  }
}

.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom, 1.5rem) - 0.75rem);
}

html {
  overscroll-behavior-y: none;
}
