h2 {
  color: #006183;
  font-weight: 400;
  background-color: #ebebeb;
  padding: 1rem;
  margin-bottom: 16px;
}
a {
  color: #006183;
}
/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 1.5rem;
  vertical-align: top;
  border: 1px solid #eee;
}
th {
  background-color: #f7f7f7;
}
th:last-child,
td:last-child {
  width: 40%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 3px solid #ccc;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 7px;
  border-radius: 3px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
