name: Playwright Integration Tests
on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Install mkcert
        run: sudo apt install mkcert
      - name: Generate certs
        run: mkdir -p .dev/certs/ && mkcert -key-file .dev/certs/localhost-key.pem -cert-file .dev/certs/localhost.pem localhost
      - name: Install local certs
        run: mkcert -install
      - name: Setup api env vars
        run: cp .example.env .env
      - name: Run Playwright tests
        run: npx nx run web-e2e:e2e
