name: build production

on:
  workflow_dispatch:

env:
  username: cfu288
  PASSWORD: ${{ secrets.registry_password }}

jobs:
  app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate CalVer env var
        run: echo "RELEASE_CALVER_VERSION=$(echo $(date '+%Y.%m.%d'))" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ env.username }}
          password: ${{ env.PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        with:
          context: .
          push: true
          tags: cfu288/mere-medical:latest,cfu288/mere-medical:${{ env.RELEASE_CALVER_VERSION }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.RELEASE_CALVER_VERSION }}
          name: Release ${{ env.RELEASE_CALVER_VERSION }}
          makeLatest: true
          allowUpdates: true

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_RELEASE_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_URL: https://sentry.meremedical.co
        with:
          environment: production

      # Image is built, now we need to trigger the deploy of the live site
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install @octokit/action
      - run: node .github/actions/trigger-stage-deploy.js
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_DEPLOY_GITHUB_TOKEN }}
          WORKFLOW_ID: ${{ vars.PROD_WORKFLOW_ID }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ env.username }}
          password: ${{ env.PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: Dockerfile-docs
          tags: cfu288/mere-medical-docs:latest
